<!DOCTYPE html>
<html>

<head>
    <title>Daily Activity</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../public/client.js"></script>
    <script>
        function activity_get() {
            console.log('called');
            DailyActivityAPI.getActivity(function(d) {
                //renderResult(d);
                console.log('');
            });
        }
    </script>
</head>

<body>
    <main>
        <form>
            <label for="personal">Personal</label>
            <br/>
            <textarea name="personalText" class="personalText" rows="10" cols="50" placeholder="Write personal stuff you learnt today."></textarea>
            <br>
            <label for="professional">Professional</label>
            <br/>
            <textarea name="professionalText" class="professionalText" rows="10" cols="50" placeholder="Write professional stuff you learnt today."></textarea>
            <br>
            <label for="other">Other</label>
            <br/>
            <textarea name="otherText" class="otherText" rows="10" cols="50" placeholder="Write other stuff you learnt today."></textarea>
            <br>

            <button type="submit">Submit</button>
        </form>
        <br/>

        <div>


        </div>
        <div>
            <button class="myButton">GetActivities</button>
        </div>
        <!--/.nav-collapse -->

        <section class="activities">
            <ul id="personalactivities">Personal:</ul>
            <ul id="professionalactivities">Professional:</ul>
            <ul id="otheractivities">Other:</ul>
        </section>
    </main>
</body>

</html>