<!DOCTYPE html>
<html>

<head>
    <title>Daily Activity</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../public/client.js"></script>
</head>

<body>
    <main>
        <form>
            <label for="personal">Personal</label>
            <br/>
            <textarea name="personalText" class="personalText" rows="10" cols="50" placeholder="Write personal stuff you learnt today."></textarea>
            <br>
            <label for="professional">Professional</label>
            <br/>
            <textarea name="professionalText" class="professionalText" rows="10" cols="50" placeholder="Write professional stuff you learnt today."></textarea>
            <br>
            <label for="other">Other</label>
            <br/>
            <textarea name="otherText" class="otherText" rows="10" cols="50" placeholder="Write other stuff you learnt today."></textarea>
            <br>

            <button type="submit">Submit</button>
        </form>
        <br/>

        <div>
          <input type=button onClick="location.href='index1.html'" value='click here to visit home page'>
            <button class="myButton">GetActivities</button>
            <button class="myButton1">Week's Activities</button>
            <button class="myButton1">Month's Activities</button>
            <button class="myButton1">Yearly's Activities</button>
        </div>
        <!--/.nav-collapse -->

        <section class="activities">
            <ul id="personalactivities">Personal:</ul>
            <ul id="professionalactivities">Professional:</ul>
            <ul id="otheractivities">Other:</ul>
        </section>
    </main>
</body>

</html>
